body{
    background: linear-gradient(90deg,orange, blue);
}

.container{
    margin-top: 350px;
}

.box1{
    margin-top: 20px;
    margin-left: 150px;
}

.box2{
    margin-top: 12px;
    margin-left: 150px;
}

.tt1{
    margin-left: 42px;
}

.tt2{
    margin-left: 52px;
}


.dui, .apellidos, .nombres{
    
    width: 40%;
    max-width: 250px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: white;
    
}
.boton{
    width: 25%;
    max-width: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: magenta;
}



.caja-registro{
    margin-top: 80px;
    width: 460px;  
}

.container-mostrar{
    margin-top: 150px;
    width: 80%;
}

.container-actualizar{
    margin-top: 80px;
    width: 460px;
}

.input-dui, .input-apellidos, .input-nombres{
    width: 60%;
    max-width: 250px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 8px;
    color: black;
}

.container-exito-actualizar{
    background: black;
    margin-top: 150px;
    width: 500px;
    height: 300px;
}



.boton-exiActu{
    margin-top: 105px;
}

.icon1{
    font-size: 50px;
    color: yellow;
    height: 40px;
    width: 90px;
    margin: 0px;
    text-align: center;
}

.icon2{
    font-size: 50px;    
    color: magenta;
    height: 40px;
    width: 90px;
    margin: 0px;
    text-align: center;
}